:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/img/fondoturnero.png');
  
  background-position-x: 0cm;
  background-position-y: -15cm;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.div-form-signin {
  /* background-color: #aacab4; */
  height: 100vh;
  /* min-height: 800px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-form-signin {
  text-align: center;
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: #ffffff;
  border-radius: 1rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.contenedor-form-signin .checkbox {
  font-weight: 400;
}
.contenedor-form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border : 1px solid #d1dad4;
  border-radius: 5px;
  margin-top: 5px;
}
.contenedor-form-signin .form-control:focus {
  z-index: 2;
}
.contenedor-form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.contenedor-form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert {
  /* position: fixed; */
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  text-transform: uppercase;
  font-size: .9rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alert {
      width: auto;
      left: auto;
  }
}

.alert-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alert-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

.alert-warnnig {
  background-color: #e4871c;
  font-weight: bold;
  color: white;
  padding: 10px;
  font-size: 16px;  
}

.alert-success {
  background-color: #1764d8;
  font-weight: bold;
  color: black;
  padding: 10px; 
  font-size: 16px; 
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
  font-size: 1rem;
}


.contenedor-header{
  width: 100%;
  padding: 0.3rem 2rem 0.3rem 2rem;
  background-color: white;
  margin: 0 0 8rem 0;
  /* font-family: 'Verdana'; */
  font-style: normal;
  /* font-family: 'Century Gothic'; */
}

.btn{
  text-transform: none;
  font-size: 1.3rem;
}

.img-carrusel{
  margin-bottom: 5em;
}

.logo-footer{
  margin: 0 0 3rem 0;
}

.estilo-footer{
  width: 100%;
  margin: 18rem 0 0 0;
  background-color: white;
  padding: 4rem 0 3rem 0;
  /* font-family: 'Century Gothic'; */
  font-size: 1.2rem;
}

.card-text{
  font-size: 1.2rem;
  /* font-family: 'Century Gothic'; */
}

.estilo-card{
  /* font-family: 'Century Gothic'; */
  max-width: 30rem;
}

.margen-card{
  margin-bottom: 1.5rem;
}

.margen-btn{
  margin-bottom: 1.5rem;
}

.list-estilo{
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.nombre-app{
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0 0;
}

.texto-carrusel{
  /*font-family: 'Century Gothic';*/
  font-size: 1.2rem;
  width: 100%;
}

/*.titulo-carrusel{
  font-family: 'Century Gothic';
}*/

#contenedorNavbar {
  padding: 1.5%;
}

.nav-item {
  font-size: 140%;
}

.tab-body{
  background-color: white;
}

.tab-container{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.table-style{
  margin-top: 2rem;
}

.container-owner{
  background-color: white;
  padding: 1rem;
}