.div-form-signin {
  background-color: #aacab4;
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-form-signin {
  text-align: center;
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: #ffffff;
  border-radius: 1rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.contenedor-form-signin .checkbox {
  font-weight: 400;
}
.contenedor-form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border : 1px solid #d1dad4;
  border-radius: 5px;
  margin-top: 5px;
}
.contenedor-form-signin .form-control:focus {
  z-index: 2;
}
.contenedor-form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.contenedor-form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert-error {
  background-color: #e42d1c;
  font-weight: bold;
  color: white;
  padding: 10px;
  font-size: 16px;  
}

.alert-warnnig {
  background-color: #e4871c;
  font-weight: bold;
  color: white;
  padding: 10px;
  font-size: 16px;  
}

.alert-success {
  background-color: #1764d8;
  font-weight: bold;
  color: black;
  padding: 10px; 
  font-size: 16px; 
}