:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/img/fondoturnero.png');
  
  background-position-x: 0cm;
  background-position-y: -15cm;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.div-form-signin {
  /* background-color: #aacab4; */
  height: 100vh;
  /* min-height: 800px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-form-signin {
  text-align: center;
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: #ffffff;
  border-radius: 1rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.contenedor-form-signin .checkbox {
  font-weight: 400;
}
.contenedor-form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border : 1px solid #d1dad4;
  border-radius: 5px;
  margin-top: 5px;
}
.contenedor-form-signin .form-control:focus {
  z-index: 2;
}
.contenedor-form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.contenedor-form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert {
  /* position: fixed; */
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  text-transform: uppercase;
  font-size: .9rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alert {
      width: auto;
      left: auto;
  }
}

.alert-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alert-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

.alert-warnnig {
  background-color: #e4871c;
  font-weight: bold;
  color: white;
  padding: 10px;
  font-size: 16px;  
}

.alert-success {
  background-color: #1764d8;
  font-weight: bold;
  color: black;
  padding: 10px; 
  font-size: 16px; 
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
  font-size: 1rem;
}


.contenedor-header{
  width: 100%;
  padding: 0.3rem 2rem 0.3rem 2rem;
  background-color: white;
  margin: 0 0 8rem 0;
  /* font-family: 'Verdana'; */
  font-style: normal;
  /* font-family: 'Century Gothic'; */
}

.btn{
  text-transform: none;
  font-size: 1.3rem;
}

.img-carrusel{
  margin-bottom: 5em;
}

.logo-footer{
  margin: 0 0 3rem 0;
}

.estilo-footer{
  width: 100%;
  margin: 18rem 0 0 0;
  background-color: white;
  padding: 4rem 0 3rem 0;
  /* font-family: 'Century Gothic'; */
  font-size: 1.2rem;
}

.card-text{
  font-size: 1.2rem;
  /* font-family: 'Century Gothic'; */
}

.estilo-card{
  /* font-family: 'Century Gothic'; */
  max-width: 30rem;
}

.margen-card{
  margin-bottom: 1.5rem;
}

.margen-btn{
  margin-bottom: 1.5rem;
}

.list-estilo{
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.nombre-app{
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0 0;
}

#contenedorNavbar {
  padding: 1.5%;
}

.nav-item {
  font-size: 140%;
}

.container-establishments {
  background-color: var(--blanco);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-my-establishment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header-my-establishment p {
  width: 5rem;     
}

.header-my-establishment h3{     
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.header-my-establishment button{
  font-size: 14px;    
  height: 2.2rem;
}

.title-my-establishment{
  text-align: center;   
  margin-bottom: 2rem;
}

.establishments {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;  
}

.card-establishment {
  padding: 1rem;
  margin-bottom: 2rem;
}

.establishment-details p attr{
  color: black;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.establishment-details p{  
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.establishment-details h2{
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.card-establishment-empty {
  width: 280px;
  height: 300px;
  text-align: center;  
  font-size: 16px;
  font-weight: bold;
}

.card-establishment-empty img {
  width: 280px;
  height: 200px; 
}

.card-establishment-empty button {
  font-size: 16px;  
}

.badge-day-of-week {
  margin-right: 5px;
}

.card-fields {
  display: flex;
  flex-wrap: wrap;
}

.card-field {
  width: 185px;
  height: 200px;
  margin-right: 15px;  
  margin-bottom: 15px;    
}

.card-field:last-of-type {
  margin-right : 0;
}

.card-field img {
  width: 185px;
  height: 101px; 
}

.card-field p {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.collapseField {
  background-color: #d6e9d7;
}

.btn-group-fab {
  position: relative; 
  float: right; 
  width: 50px;
  height: auto;
  right: 20px; bottom: 20px;
}

.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px; height: 40px;
  margin: 4px auto;
}

.btn-group-fab .btn-new-field {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 80px;
  width: 40px; height: 40px;
  margin: 80px auto;
}

.btn-group-fab .btn-main {
  width: 50px; height: 50px;
  right: 50%; margin-right: -25px;
}

.btn-group-fab-edit-establishment {
  position: relative; 
  float: right;   
  height: auto;  
}

.btn-group-fab-edit-establishment .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: -40px;  
}

.btn-group-fab-edit-establishment .btn-main {
  width: 50px; height: 50px;
  right: 50%; margin-right: -25px;
}

/* remove field fab */
.btn-group-fab-remove-field {
  position: relative; 
  float: right;   
  height: auto;  
}

.btn-group-fab-remove-field .btn-remove-field {
  position: absolute;
  bottom: 0;    
  margin-bottom: 5px;  
  right: 3%;
}

.btn-remove-field:hover {
  cursor: pointer;
}

/* end remove field fab */

.modal_new_field {
  background-color: #ebf8e8;
}

.modal_new_field label{
  font-size: 1rem;
}

.btn-add-field{
  font-size: 12px;
  width: 100%;  
}

.form-control-edited {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-row-modal-edited {
  margin: 0.25rem;
}

.modal_detail_field {
  background-color: #ebf8e8;
}

.modal_detail_field label{
  font-size: 0.75rem; 
  text-align: right;
}

.modal_detail_field input{
  font-size: 0.75rem;  
}

.modal_check {
  padding-bottom: 1rem;
}

.modal_check_label {
  margin-left: 4rem;
  text-align: left;
}
.modal_check_label_short {
  margin-left: 6.5rem;
  text-align: left;
}

.modal-footer-edited {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: .5rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

.modal-footer-edited .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.div-times {

}

.div-times p {
  margin-left: 1.5rem;
}

.div-times input {
  font-size: 1.2rem;
  text-align: center;
  color: black;
}

.service-boxes {
  display: flex;
  flex-wrap: wrap;
}

.service-box {   
  margin: 10px;
  text-align: center;    
  width: 10rem;
  height: 40px;
  line-height: 40px;  
}

.servicio-agregado {
  border: 1px solid rgb(30, 155, 35);
  background-color: #4CAF50; 
}

.servicio-agregado p{
  color: white;
  font-weight: bold;
}

.servicio-disponible {
  border: 1px solid grey;
  background-color: grey;   
}

.servicio-disponible p{
  color: black;
  font-weight: bold;
}

.service-box :hover {
  cursor: pointer;
}
.section-confirm {
  background-color: lightgrey;
  margin: 2rem;
  position: relative;
  border-radius: .5rem;
}

.section-confirm__data {
  display: inline-block;
  padding: 2rem;
  width: 50%;
}

.section-confirm__court {
  display: inline-block;
  padding: 2rem;
  width: 50%;
}


